@model LionPOSServiceContractModels.ControllerContractModel.warehouseManagement.WarehouseCCM

@for (int i = 0; i < Model.warehouseList.Count(); i++)
            {

        <!--Grid Design -->

    <div class="col-md-12" id="@Model.warehouseList[i].warehousesCode">
        <div class="card card-user card-user-purple">

            <div class="card-heading heading-center " style="border-top:none">
                <img src="~/Images/store.png" alt="" class="user-image">
                <h3 class="card-title text-color-white"><a href="#@Model.warehouseList[i].warehousesCode" data-href="@Model.warehouseList[i].name">@Model.warehouseList[i].name</a></h3>
                <div class="subhead">
                    <span class="badge actv" style="background:@((Model.warehouseList[i].isActive== true)?"Green":"Red");border:2px solid #fff;border-radius:100%;padding:2px 4px;font-size:12px;color:@((Model.warehouseList[i].isActive== true)?"Green":"Red") ">3</span>
                    Warehouse is <a href="#"> @((Model.warehouseList[i].isActive == true) ? "Active" : "Inactive") in @Model.warehouseList[i].CoveringAreas</a>
                </div>
            </div>

            <div class="card-body" id="card-body@(Model.warehouseList[i].warehousesCode)" style="display:none;">

            </div>


            <div class="card-footer" style="padding: 15px;border-top: 1px solid #f0f0f0;">
                <div class="selectAllCheckBoxClass" style="float:left">
                    <div class="checkboxer checkboxer-pink form-inline">
                        <input type="checkbox" class="chkSelect" id="@(Model.warehouseList[i].warehousesCode)">
                        <label for="checkboxColor2">
                        </label>
                    </div>
                </div>
                <button class="btn btn-xs btn-purple pull-right btn-ripple fa fa-retweet" data-warehousescode="@(Model.warehouseList[i].warehousesCode)" data-bodyid="card-body@(Model.warehouseList[i].warehousesCode)" id="btnShowDetails" style="margin-right:10px"></button>
            </div>

        </div>
    </div>

    }
