<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>

    <meta name="description" content="Pleasure is responsive, material admin dashboard panel">
    <meta name="author" content="Teamfox">

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="yes">



    @System.Web.Optimization.Styles.Render("~/bundles/css")
    @RenderSection("HeaderStyle", false)

    

    <meta name="description" content="Pleasure is responsive, material admin dashboard panel">
    <meta name="author" content="Teamfox">

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-touch-fullscreen" content="yes">

    <!-- BEGIN CORE CSS -->
    @*<link rel="stylesheet" href="../../Content/assets/admin1/css/admin1.css">*@

    @*<link rel="stylesheet" href="../../Content/assets/globals/css/elements.css">*@


    <!-- END CORE CSS -->

    <!-- BEGIN PLUGINS CSS -->
    @*<link rel="stylesheet" href="../../Content/assets/globals/plugins/rickshaw/rickshaw.min.css">
	<link rel="stylesheet" href="../../Content/assets/globals/plugins/bxslider/jquery.bxslider.css">
<link rel="stylesheet" href="../../Content/assets/globals/css/plugins.css">*@


    <!-- END PLUGINS CSS -->

    <!-- BEGIN SHORTCUT AND TOUCH ICONS -->
    <link rel="shortcut icon" href="http://teamfox.co/themes/pleasure/assets/globals/img/icons/favicon.ico">
    <link rel="apple-touch-icon" href="../../Content/assets/globals/img/icons/apple-touch-icon.png">


    <!-- END SHORTCUT AND TOUCH ICONS -->

    @*<script src="../../Content/assets/globals/plugins/modernizr/modernizr.min.js"></script>*@


</head>

<body style="margin: 0px;">

    <div class="content">
        <div class="page-header full-content">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Dashboard <small>Activity Summary</small></h1>
                </div>
                <!--.col-->
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li><a href="#" class="active"><i class="ion-home"></i>Homepage</a></li>
                    </ol>
                </div>
                <!--.col-->
            </div>
            <!--.row-->
        </div>
        <!--.page-header-->


        @*******************Body Section Starts here*****************************@



        @RenderBody()
        @*******************Body Section Ends here*****************************@




        @System.Web.Optimization.Scripts.Render("~/bundles/jqueryForm2")
        @RenderSection("FooterScripts", false)

        <script>
            $(document).ready(function () {

                Layout.init();



            });
        </script>

        <script type="text/javascript">
            $('#idcancel').click(function () {
                try {
                    window.opener.location.reload(true);
                } catch (ex) {
                }
                window.close();
            });
        </script>
</body>
</html>
