@model LionPOSServiceContractModels.ControllerContractModel.EmployeeManagement.EmployeeCCM




<!-- Modal -->
<div class="modal fade full-height from-right" id="filter@(Model.Pagination.FilterActionName)Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="filter@(Model.Pagination.FilterActionName)ModalClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Filter Box</h4>
            </div>
            <div class="modal-body" id="divfilter">
                <div class="form-content">
                    Search Parameters
                </div>
                <div class="form-content" id="filter@(Model.Pagination.FilterActionName)Pane">

                </div>
                <hr />
                <div class="form-content">
                    Order set parameters
                </div>
                <div class="form-content" id="filter@(Model.Pagination.FilterActionName)OrderBy">
                    <ul id="sortable">
                        @foreach (var fields in Model.FilterFieldsModel)
                        {
                            if (fields.canSort == true)
                            {
                            <li class="ui-state-default ui-sortable-handle">
                                <span class="fa fa-sort" style="color:white;margin:0 57px 0 57px;"></span>
                                <select>
                                    <option @((fields.currentSortOrderType != "asc" && fields.currentSortOrderType != "desc") ? "selected" : "") value="">@(fields.field) Not ordered </option>
                                    <option @(fields.currentSortOrderType == "asc" ? "selected" : "") value="@(fields.field) asc">@(fields.fieldTitle)  Assending</option>
                                    <option @(fields.currentSortOrderType == "desc" ? "selected" : "") value="@(fields.field) desc">@(fields.fieldTitle) Desending</option>
                                </select>
                            </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-floating btn-deep-purple btn-ripple" id="filter@(Model.Pagination.FilterActionName)Add"><i class="ion-android-add"></i></a>
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                <button type="button" id="btn@(Model.Pagination.FilterActionName)SaveAsDefault" data-dismiss="modal" class="btn btn-primary ng-pristine ng-valid btn-ripple ng-touched">Save Orderby as Default</button>
                <button type="button" id="btn@(Model.Pagination.FilterActionName)Filter" data-dismiss="modal" class="btn btn-primary ng-pristine ng-valid btn-ripple ng-touched">Filter</button>
            </div>
        </div>
    </div>
</div>
