@model  Chikaraks.Models.PaginationModel  
<ul class="pager" style="margin: 0px; padding: 0px">
    <li>
        <a>Showing  @{
                                
                            if(Convert.ToInt32(Model.PageNumber)==1){ 
            @:1 to
if(Convert.ToInt32(Model.RecordsPerPage) == 0 )
{
            @("All")
}
else
{
            @(Convert.ToInt32(Model.PageNumber) * Convert.ToInt32(Model.RecordsPerPage))
                            }
            @:of 
            @(ViewBag.TotalRecords) 
            @:entries
                             }
                             else
                             {
            @((Convert.ToInt32(Model.PageNumber) - 1) * Convert.ToInt32(Model.RecordsPerPage))
            @:to 
if(Convert.ToInt32(Model.RecordsPerPage) == 0 )
{
            @("All")
}
                            else
{
            @(Convert.ToInt32(Model.PageNumber) * Convert.ToInt32(Model.RecordsPerPage))
}
            @:of 
            @(Model.TotalRecords) 
            @:entries
                            }
        }
        </a></li>
</ul>
