@model LionPOSServiceContractModels.logContractModel
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en-US">


<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <title>Lion Vision Info Tech Solution</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="~/Content/ContentMaintenance/faviconlion.ico">
    <link rel="stylesheet" href="~/Content/ContentMaintenance/css/main.css">

</head>
<body class="loading">
    @{
                      



                        object objException = new LionUtilities.ConversionUtilitise().StringToObject(Model.exception);

    }
    <header>
        <div class="header-wrapper">

            @*@Html.Raw(@Session["ErrorMessage"].ToString())*@
            @*<img id="logo" src="~/Content/ContentMaintenance/img/logo.png" alt="Mandi logo">*@

            @if(objException.ToString().ToLower().Contains("foreign key"))
                {
                <h1><span></span>Delete failed!</h1>

                <h2> Some data can not be removed due to they are dependent on other data.To remove this failed data make sure you remove dependent data first.Example: Employee can not delete if he has any record of salary paid in past. </h2>
                <h2>Please Contact Developers If you have query.</h2>
                }
                else if (objException.ToString().ToLower().Contains("unique"))
                {
                <h1><span></span>Adding or Updating failed!</h1>

                <h2>Data transaction can not be performed due to the data you are trying to add or modify is duplication in system.Example: India can not be added twice. </h2>
                <h2>Please Contact Developers If you have query.</h2>
                }
                else if (objException.ToString().ToLower().Contains("provide"))
                {
                <h1><span></span>Database connection Failed!</h1>

                <h2>Some error occured connection database.<br />Possible reasones : <br />1) Database connection failed <br />2)Server not available<br /> 3)Database is busy due to heavy load.</h2>
                <h2>Please Contact Developers If you have query.</h2>
                }
                else
                {
                <h1><span></span>Something is going wrong</h1>
                <h2>Please Contact Developers</h2>
                <h2> To Get Support & Help Please Refer Following Get In Touch </h2>
                }

        </div>
    </header>
    <div class="wrapper">
        <main>

            @*<div id="countdown" data-countdown="2016/01/06">
                    <div class="count-el weeks"></div>
                    <div class="count-el days"></div>
                    <div class="count-el hours"></div>
                    <div class="count-el minutes"></div>
                    <div class="count-el seconds"></div>
                </div>
            *@
            <section class="section">


                <p>


                </p>
                <p><b>Message :</b> @((objException as Exception).Message)</p>


                <p>Exception : @objException.ToString()</p>
                <p><b>HelpLink :</b> @((objException as Exception).HelpLink)</p>
                <p><b>StackTrace :</b> @((objException as Exception).StackTrace)</p>
                <p><b>TargetSite :</b> @((objException as Exception).TargetSite)</p>
                <p><b>InnerException :</b> @((objException as Exception).InnerException)</p>
                <p><b>Class Name : </b>@Model.className</p>
                <p><b>Method Name : </b>@Model.methodName</p>
                <p><b>Title:</b> @Model.title</p>
                <p><b>EntryByUser :</b> @Model.entryByUserName</p>
                <p><b>File Name :</b> @Model.fileName</p>
                <h4>Data Error List</h4>
                @if ((objException as Exception).Data.Count > 0)
                       {
                    <ul>
                        @foreach (System.Collections.DictionaryEntry dataError in (objException as Exception).Data)
                                {
                            <li>Property : @dataError.Key  &nbsp&nbsp&nbsp&nbsp&nbsp  Value : @dataError.Value </li>
                                }
                    </ul>
                        }



            </section>

            @* <section class="section">

                    <h2><i class="fa fa-paper-plane"></i>Subscribe Us</h2>
                    <form class="newsletter-form" action="http://demo.webisir.com/mandi/newsletter/subscribe.php" method="post">
                        <input class="newsletter" type="text" name="newsletter" placeholder="Your Email">
                        <input class="submit btn" type="submit" name="submit" value="Subscribe">
                    </form>
                    <p>Lora Ipsum</p>

                </section>*@
        </main>
        <aside>
            <div id="contacts" class="section">
                <h2>Get in touch</h2>
                <ul class="list-contacts">
                    <li><i class="fa fa-envelope-o"></i> <a href="mailto:our_awesome_email@domain.com">support@lionvisionits.com</a></li>
                    <li><i class="fa fa-phone"></i> +91 99796 08294</li>
                    <li class="address"><i class="fa fa-building-o"></i> <span>330, 3rd Floor, Trade Square, Opposite Rokadia Hanuman Temple, Khokhra Circle, Khokhara Mehmadabad, Ahmedabad - 380008</span></li>
                </ul>
            </div>

            
            <img src="~/Content/ContentMaintenance/img/desktop.jpg" alt="Desktop">
            <div id="social-links" class="section">
                <ul>
                    <li><a title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a title="Google+" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a title="Dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a title="LinkedIn" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>

            <div id="copyright" class="section">
                &copy; 2015 - <strong>Lion Vision Info Tech Solution</strong>
            </div>

        </aside>

    </div>

    @*<div class="content-loader">
            <div class="loader">
                <div class="flipper">
                    <div class="front"></div>
                    <div class="back"></div>
                </div>
            </div>
        </div>*@

    <script>
        var bigHero = false;
    </script>
    <script src="~/Scripts/jquery-2.2.2.min.js"></script>
    <script src="~/Content/ContentMaintenance/js/plugins.js"></script>
    <script src="~/Content/ContentMaintenance/js/main.js"></script>
    <!-- Google Map Scripts -->
    @*<script src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>*@
    <script src="~/Content/ContentMaintenance/js/map.js"></script>
    <script>
        $('header').backstretch('/Content/ContentMaintenance/img/sample-image.jpg');
    </script>
    

    @*<script>
                //(function (i, s, o, g, r, a, m) {
                //    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                //        (i[r].q = i[r].q || []).push(arguments)
                //    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                //    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                //})(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');
                //ga('create', 'UA-39822577-7', 'auto');
                //ga('send', 'pageview');
        </script>*@
</body>
</html>