@model LionPOSServiceContractModels.ControllerContractModel.SupplierManagement.SupplierCCM

@for (int i = 0; i < Model.supplierList.Count(); i++)
{
    <div class="col-md-12" id="@Model.supplierList[i].suppliersCode">
        <div class="card card-user card-user-purple">

            <div class="card-heading heading-center " style="border-top:none">
                <img src="../../Images/BranchIco/customer-support.png" alt="" class="user-image">
                <h3 class="card-title text-color-white"><a href="#">@Model.supplierList[i].title</a></h3>
                <div class="subhead">
                    <span class="badge actv" style=" background: @((Model.supplierList[i].isActive== true)?"Green":"Red") ; border: 2px solid #fff;border-radius : 100%;padding :2px 4px;font-size :12px;color: @((Model.supplierList[i].isActive== true)?"Green":"Red");">3</span>
                    Supplier is  Added by <a href="#"> @Model.supplierList[i].entryByUserName</a>
                </div>
            </div>

            <div class="card-body" id="card-body@(Model.supplierList[i].suppliersCode)" style="display:none;">

            </div>


            <div class="card-footer" style="padding: 15px;border-top: 1px solid #f0f0f0;">
                <div class="selectAllCheckBoxClass" style="float:left">
                    <div class="checkboxer checkboxer-pink form-inline">
                        <input type="checkbox" class="chkSelect" id="@(Model.supplierList[i].suppliersCode)">
                        <label for="checkboxColor2">
                        </label>
                    </div>
                </div>
                <button class="btn btn-xs btn-purple pull-right btn-ripple fa fa-retweet" data-supplierscode="@(Model.supplierList[i].suppliersCode)" data-bodyid="card-body@(Model.supplierList[i].suppliersCode)" id="btnShowDetails" style="margin-right:10px"></button>
            </div>

        </div>
    </div>

}