@model LionPOS.Models.ViewModels.Login.NeedHelp.RecoveryViewModel
@{
    ViewBag.Title = "Select Recovery Options";
    Layout = "~/Views/Shared/NeedHelpMasterLayout.cshtml";
}
<section class="container-fluid">
    <section class="container">
        <div class="row header-bar">
            <div>
                <a href="#">
                    <img src="~/Images/LogoLionVisionColoured.png" class="logo-lionvision" />
                </a>
                <a href="@Url.Action("Index","Login",new { branchCode = Model.branchCode })">
                    <button class="button-login right"><span>Login</span></button>
                </a>
            </div>

        </div>
    </section>
</section>
<div class="alert-block" id="alert-block">

    @if (Model.AlertList_string != null)
            {
                foreach (string alert in Model.AlertList_string)
                {
        @Html.Raw(alert)
                }
            }
</div>
<div class="container no-left-right-padding">
    <div class="head-pic text-center">
        <img src="~/Images/userList.png" />
    </div>
    <div class="row  content-container">

        <div class="question-content">
            @using (Html.BeginForm("ResetPasswordForm", "NeedHelp", FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model=>model.branchCode)
                <div class="radio-option">
                    <label class="radio-label" for="1">Congratulation you found your usernames :-)</label>
                    <div>
                        <div>
                            <div class="secondary">To reset your password,select one username and click reset password.Otherwise click on Login at top right corner.</div>
                        </div>
                    </div>
                </div>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <div class="radio-option">
                    @foreach(var a in Model.listUsers)
                    {
                    <div>
                        <label class="stacked-label">
                            <input type="radio" name="username" value="@(a)" />&nbsp; @Html.Raw(a)  
                            
                        </label>
                    </div>
                    }
                </div>
                <p></p>
                <p></p>
                <p class="recovery-submit">
                    <button class="btn-standard" type="submit" style="width: inherit;"> <span>RESET PASSWORD</span> </button>
                </p>
            }
        </div>

    </div>
</div>
