@model LionPOS.Models.ViewModels.Login.NeedHelp.RecoveryOptionsViewModel
@{
    ViewBag.Title = "Select Recovery Options";
    Layout = "~/Views/Shared/NeedHelpMasterLayout.cshtml";
}
<section class="container-fluid">
    <section class="container">
        <div class="row header-bar">
            <div>
                <a href="#">
                    <img src="~/Images/LogoLionVisionColoured.png" class="logo-lionvision" />
                </a>
                <a href="@Url.Action("Index","Login",new { branchCode = Model.branchCode })">
                    <button class="button-login right"><span>Login</span></button>
                </a>
            </div>

        </div>
    </section>
</section>
<div class="alert-block" id="alert-block">

    @if (Model.AlertList_string != null)
            {
                foreach (string alert in Model.AlertList_string)
                {
            @Html.Raw(alert)
        }
    }
</div>
<div class="container no-left-right-padding">
    <div class="head-pic text-center">
        <img src="~/Images/NeedHelp.png" />
    </div>
    <div class="row  content-container">

        <div class="question-content">
            @using (Html.BeginForm("RecoveryOptions", "NeedHelp", FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.branchCode)
                <h1>Having trouble signing in?</h1>
                <div class="radio-option">
                    @Html.RadioButtonFor(model => model.RecoveryOptions, LionPOSServiceContractModels.ConstantDictionaryViewModel.ConstantDictionaryVM.RecoveryOption.RecoverLostPassword_string, new { @id = "1" })
                    @*< input type="radio" name="RecoveryOptions" value="RecoverLostPassword" id="1">*@
                    <label class="radio-label" for="1">I don't know my password</label>
                    <div class="hideable-wrapper" id="hideable-box1">
                        <div class="hideable-box">
                            <div class="secondary">To reset your password, enter the username you use to sign in.</div>
                            <label class="stacked-label">
                                Username
                                <p>
                                    @Html.TextBoxFor(model => model.Username, new { @class = "english-text", @size = "30" })
                                    @*<input type="text" name="Username" value="" class="english-text" size="30">*@
                                </p>
                            </label>
                        </div>
                    </div>
                </div>
                <p></p>
                <p></p>
                <div class="radio-option">
                    @Html.RadioButtonFor(model => model.RecoveryOptions, LionPOSServiceContractModels.ConstantDictionaryViewModel.ConstantDictionaryVM.RecoveryOption.RecoverLostUsername_string, new { @id = "2" })
                    @*<input type="radio" name="RecoveryOptions" value="RecoverLostUsername" id="2">*@
                    <label class="radio-label" for="2">I don't know my username</label>
                    <div class="hideable-wrapper" id="hideable-box3">
                        <div class="hideable-box">
                            <div class="secondary">Enter the email address you use to sign in. This can be your registration or recovery email address, or another email address associated with your account.</div>
                            <label class="stacked-label">
                                Email address
                                <p>
                                    @Html.TextBoxFor(model => model.email, new { @class = "english-text", @id = "email", @size = "30" })
                                    @*<input type="text" name="eamil" value="" class="english-text" size="30">*@
                                </p>
                            </label>
                        </div>
                    </div>
                </div>
                <p></p>
                <p></p>
                <div class="radio-option">
                    @Html.RadioButtonFor(model => model.RecoveryOptions, LionPOSServiceContractModels.ConstantDictionaryViewModel.ConstantDictionaryVM.RecoveryOption.OtherQueries_string, new { @id = "3" })
                    @*<input type="radio" name="RecoveryOptions" value="OtherQueries" id="3">*@
                    <label class=" radio-label" for="3">I'm having other problems signing in</label>

                </div>
                <p></p>
                <p></p>
                <p class="recovery-submit">
                    <button class="btn-standard" type="submit"> <span>Continue</span> </button>
                </p>
            }
        </div>

    </div>
</div>

