@model LionPOS.Models.ViewModels.Login.NeedHelp.RecoveryViewModel
@{
    ViewBag.Title = "Select Recovery Options";
    Layout = "~/Views/Shared/NeedHelpMasterLayout.cshtml";
}
@section StyleHeader{
    
<link href="~/Content/ContentLogin/passwordstrength.css" rel="stylesheet" />
}


<section class="container-fluid">
    <section class="container">
        <div class="row header-bar">
            <div>
                <a href="#">
                    <img src="~/Images/LogoLionVisionColoured.png" class="logo-lionvision" />
                </a>
                <a href="@Url.Action("Index","Login",new { branchCode = Model.branchCode })">
                    <button class="button-login right"><span>Login</span></button>
                </a>
            </div>

        </div>
    </section>
</section>
<div class="alert-block" id="alert-block">

    @if (Model.AlertList_string != null)
            {
                foreach (string alert in Model.AlertList_string)
                {
        @Html.Raw(alert)
                }
            }
</div>
<div class="container no-left-right-padding">
    <div class="head-pic text-center">
        <img src="~/Images/PasswordReset.png" />
    </div>
    <div class="row  content-container">

        <div class="question-content">
            @using (Html.BeginForm("ResetPassword", "NeedHelp", FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model=>model.branchCode)
                <div class="radio-option">
                    <div>
                        <label class="stacked-label">
                            New Password
                            <p>
                                @Html.PasswordFor(model => model.password, new { @class = "english-text",@id ="txtNewPwd", @size = "30" })
                            </p>
                        </label>
                    </div>
                    <div>
                        <label class="stacked-label">
                            Confirm Password
                            <p>
                                @Html.PasswordFor(model => model.confirmPassword, new { @class = "english-text",@id ="txtNewPwdConfirm", @size = "30" })
                            </p>
                        </label>
                    </div>
                </div>
                <p></p>
                <p></p>
                <p class="recovery-submit">
                    <button class="btn-standard" type="submit"> <span>RESET</span> </button>
                </p>
            }
        </div>

    </div>
</div>


@section ScriptFooter{
<script src="~/Scripts/ScriptCustom/Login/NeedHelp/PasswordStrengthMeter.js"></script>
<script src="~/Scripts/ScriptCustom/Login/NeedHelp/ResetPasswordCustomScript.js"></script>
}