@model  Chikaraks.Models.ViewModels.StoryAreaType.StoryAreaTypeCrudeOperationViewModel
@{
    int PrimaryKeys = Model.StoryAreaTypeDCM.idStoryAreaType;
}

<div class="card-body" id="body@(PrimaryKeys)">

    <div class="row">
        <div class="col-md-12">

            @using (Ajax.BeginForm(Model.SubmitActionName, Model.controllerName, null, new AjaxOptions() { HttpMethod = "POST", OnComplete = "OnFormAjaxComplete", OnFailure = "OnFormAjaxFailure" }, new { @class = "form -horizontal bucket-form", id = "MVCAjaxFormID" }))
            {
                @Html.HiddenFor(model => Model.StoryAreaTypeDCM.idStoryAreaType)

                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-3"><label>Title</label></div>
                    <div class="col-sm-6 form-group">
                        @Html.TextBoxFor(model => Model.StoryAreaTypeDCM.title, new { @class = "form-control  ajaxCheck", @Placeholder = "Title", @maxlength = "45", data_placement = "top", data_ajax_url = Url.Action("CheckTitle", "StoryAreaType", null, Request.Url.Scheme), data_ajax_json_data = "{ \"PrimaryKeys\": str }", data_error_message_label = "CheckTitle", data_error_message = "this  Title is already used." })
                        <label id="CheckTitle" class="error-message-label" style="display:none"></label>
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col-sm-3"></div>
                    @if (Model.crudOprationType == LionPOSServiceContractModels.ConstantDictionaryContractModel.ConstantDictionaryCM.crudOprationTypes.Insert)
                    {
                        <div class="col-sm-8">
                            <div class="col-sm-4">
                                <button type="submit" id="btnsubmit" data-loader="ldrSubmit@(PrimaryKeys)" class="btn btn-primary btn-ripple "><i id="ldrSubmit@(PrimaryKeys)" class="CircleLoader" style="display:none"></i>Create</button>
                            </div>

                            <div class="col-sm-4">
                                <button type="button" id="btnInsertCancel" data-remove-element-id="@(PrimaryKeys)" class="btn btn-primary btn-ripple btn-CircleLoader ">Cancel</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-8">
                            <div class="col-sm-4">
                                <button type="submit" id="btnsubmit" data-loader="ldrSubmit@(PrimaryKeys)" class="btn btn-primary btn-ripple "><i id="ldrSubmit@(PrimaryKeys)" class="CircleLoader" style="display:none ; "></i>Update </button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" id="btndelete" data-ajax-loader="ldrRemove@(PrimaryKeys)" data-ajax-json-data='{ "PrimaryKeys" : "@(PrimaryKeys)" }' data-ajax-url="@Url.Action(Model.DeleteActionName , Model.controllerName,null,Request.Url.Scheme)" data-body="body@(PrimaryKeys)" class="btn btn-red btn-flat btn-ripple" data-toggle="modal" data-target="#filterConfirmModal">
                                    <i id="ldrRemove@(PrimaryKeys)" class="CircleLoader" style="display:none; "></i>
                                    <i class="ion-android-delete"></i>&nbsp; Delete
                                </button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" id="btnUpdateCancel" data-remove-innerhtml-element-id="body@(PrimaryKeys)" data-hide="body@(PrimaryKeys)" class="btn btn-primary btn-ripple btn-CircleLoader ">Cancel</button>
                            </div>
                        </div>
                    }
                </div>
            }
            <div id="idshowLoder@(PrimaryKeys)" style="height:180px;margin:10px; display:none">
                <div id="loader"></div>
            </div>
        </div>
    </div>
</div>
