@model LionPOSServiceContractModels.ControllerContractModel.UserManagement.UserCCM

@for (int i = 0; i < Model.userList.Count(); i++)
            {

        <!--Grid Design -->

    <div class="col-md-12" id="@Model.userList[i].userName">
        <div class="card card-user card-user-purple">

            <div class="card-heading heading-center " style="border-top:none">
                <img src="~/Images/store.png" alt="" class="user-image">
                <h3 class="card-title text-color-white"><a href="#@Model.userList[i].userName" data-href="@Model.userList[i].userName">@Model.userList[i].userName</a></h3>
                <div class="subhead">
                    <span class="badge actv" style="background:@((Model.userList[i].isActive== true)?"Green":"Red");border:2px solid #fff;border-radius:100%;padding:2px 4px;font-size:12px;color:@((Model.userList[i].isActive== true)?"Green":"Red") ">3</span>
                    This User is  @((Model.userList[i].isActive == true) ? "Active" : "Inactive") in <a href="#">@Model.userList[i].branchCode</a>
                </div>
            </div>

            <div class="card-body" id="card-body@(Model.userList[i].userName)" style="display:none;">

            </div>


            <div class="card-footer" style="padding: 15px;border-top: 1px solid #f0f0f0;">
                <div class="selectAllCheckBoxClass" style="float:left">
                    <div class="checkboxer checkboxer-pink form-inline">
                        <input type="checkbox" class="chkSelect" id="@(Model.userList[i].userName)">
                        <label for="checkboxColor2">
                        </label>
                    </div>
                </div>


                <button class="btn btn-xs btn-purple pull-right btn-ripple fa fa-retweet" data-username="@(Model.userList[i].userName)" data-bodyid="card-body@(Model.userList[i].userName)" id="btnShowDetails" style="margin-right:10px"></button>
            </div>

        </div>
    </div>

    }
