@model LionPOSServiceContractModels.ControllerContractModel.BranchManagement.BranchCCM

<script>
    var SQLDataTypeJosn = @Html.Raw(Model.SQLDataTypeJosn);
</script>
<script>
    var FilterList = new Array();
    var FilterObject =new Object();
    FilterObject.name= "@Model.Pagination.FilterActionName";
    FilterObject.FilterFieldModelJson = function(){ return @Html.Raw(Model.FilterFieldModelJson)};
    FilterObject.FilterURLLink = "@Url.Action(Model.Pagination.FilterActionName, Model.Pagination.controllerName, null,Request.Url.Scheme)";
    FilterObject.FilterFetchedFired = false;
    FilterObject.whereClauseStream = "" ;
    FilterObject.OrderByStream = "" ;
    FilterObject.SaveAsDefaultFilter = false;
    FilterObject.LoadAsDefaultFilter = true;
    FilterList.push(FilterObject);

    var InfinityList = new Array();
    var InfinityObject =new Object();
    InfinityObject.name= "@Model.Pagination.FilterActionName";
    InfinityObject.scrollBarContainer = window;
    InfinityObject.areaHeight = $(window);
    InfinityObject.documentHeight = $("body");
    InfinityObject.InfinitePageFetchURLink = "@Url.Action(Model.Pagination.FilterActionName,Model.Pagination.controllerName, null,Request.Url.Scheme)";
    InfinityObject.TotalPage = @Model.Pagination.TotalPages;
    InfinityObject.InfiniteDataFetchedFired = false;
    InfinityObject.InfiniteDataFetchedNextPageNumber = 2;
    InfinityList.push(InfinityObject);
</script>





@*++++++++++++++Script to load Start+++++++++++++++++++*@
<script src="~/Scripts/ScriptCustom/FilterControlPlugin.js"></script>
<script src="~/Scripts/ScriptCustom/InfiniteScrollPagerPlugin.js"></script>
<!-- Loaded from F:\Client\POS Master\Jay B\Source Code Master\LionPOS 09-04-2016\LionPOS 08-04-2016\LionPOS\LionPOS\Content\assets\globals\js\global-vendors.js -->
@*<script src="~/Scripts/bootstrap.js"></script>*@
@* JQueryValidation JS*@
<script src="~/Scripts/jquery.validate.min.js"></script>
@* Tool Tip JS*@
<script src="~/Scripts/jquery-validate.bootstrap-tooltip.min.js"></script>
@* Editor JS*@
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/jquery.lion.autocomplete.js"></script>
@*++++++++++++++Script to load End+++++++++++++++++++*@
<!-- check box select all code +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<script>
    function initTinyMCE(){
        tinymce.init({
            selector: ".TinyMCE",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks  fullscreen",
                "insertdatetime media table contextmenu paste textcolor "
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor"
        });
    }
    var checkBoxFlag = true;
    $(document).on("click", ".checkboxer", function (e) {
        if (checkBoxFlag == true) {
            checkBoxFlag = false;
            if ($($(this).find("input")[0]).attr("id") == "chkSelectAllData") {
                $(this).find("input")[0].click();
                var checked = $("input[id=chkSelectAllData]:checked").length;
                $.each($(".selectAllCheckBoxClass").find("input"), function (index, val) {
                    if (checked == 1 && $("input[id=" + $(val).attr("id") + "]:checked").length <= 0) {
                        $(val).click();
                    }
                    else if (checked == 0 && $("input[id=" + $(val).attr("id") + "]:checked").length > 0) {
                        $(val).click();
                    }
                });

                checkBoxFlag = true;
            }
            else {
                $(this).find("input")[0].click();
                if ($(".selectAllCheckBoxClass").find("input").length == $(".selectAllCheckBoxClass").find("input[type=checkbox]:checked").length) {
                    if ($("input[id=chkSelectAllData]:checked").length <= 0) {
                        $("#chkSelectAllData").click();
                    }
                }
                else {
                    if ($("input[id=chkSelectAllData]:checked").length > 0) {
                        $("#chkSelectAllData").click();
                    }
                }
                checkBoxFlag = true;
            }
        }
    });

    $(document).on("click","#btnAddNew",function(){
        if($("#addNewLoaderPlaceholder").css("display") == "none" && $("#card-body-1").length <= 0)
        {
            $("#addNewLoaderPlaceholder").show();
            $.ajax({
                url: "@Url.Action(Model.InsertActionName, Model.Pagination.controllerName,null,Request.Url.Scheme)",
                data: {},
                type: "POST",
                cache: false,
                async: true,
                success: function (data) {
                    if( data.errorLogId > 0)
                    {
                        window.location = data.errorURL;
                    }else
                    {
                        $("#filter@(Model.Pagination.FilterActionName)Container").prepend(data.view);
                    }
                    $("#addNewLoaderPlaceholder").hide();
                    tinymce.remove();
                    initTinyMCE();
                    activateFormValidations();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#addNewLoaderPlaceholder").hide();
                    //$("#filter" + filter.name + "Container").html("");
                    //filter.FilterFetchedFired = false;
                    //alert(thrownError.toString());
                }
            });
        }
    });
    $(document).on("click","#btndelete",function(){
        var branchCode=$("#btndelete").data("branchcode");
        var bodyid = $("#btndelete").data("bodyid");
        $("#btnConfirm").data("branchcode",branchCode);
        $("#btnConfirm").data("bodyid",bodyid);
    });
    $(document).on("click","#btnConfirm",function(){
        var branchCode=$(this).data("branchcode");
        var bodyid = $(this).data("bodyid");

        var  del=  $("#card-body" + branchCode).find("#btndelete");
        var loader = $(del).data("confirm-loader");
        var delurl = $(del).data("delete-url");
        var delkeys = $(del).data("delete-keys");
        if(loader != null && loader != undefined && loader != "")
        {
            $("#" + loader ).show();
        }



        $.ajax({
            url: delurl,
            data: { deletekeys:delkeys },
            type: "POST",
            cache: false,
            async: true,
            success: function (data) {
                
                if( data.errorLogId > 0)
                {
                    window.location = data.errorUrl;
                }

                $("#" + bodyid).parent().parent().remove();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $("#" + loader ).hide();
                alert(thrownError);
            }
        });
    });


    $(document).on("click","#btnShowDetails",function(){

        var bodyid= $(this).data("bodyid");
        $("#" + bodyid).css("display","block");
        $("#" + bodyid).html(
        '<div style="height:180px;margin:10px;">'+
                   '<div id="loader"></div>'+
               '</div>'
        );
        var branchCode=$(this).data("branchcode");
        $.ajax({
            url: "@Url.Action("GetBranchDetails", Model.Pagination.controllerName,null,Request.Url.Scheme)",
            data: { branchCode:branchCode },
            type: "POST",
            cache: false,
            async: true,
            success: function (data) {
                
                if( data.errorLogId > 0)
                {
                    window.location = data.errorURL;
                }
                $("#" + bodyid).replaceWith(data.view);
                tinymce.remove();
                initTinyMCE();
                activateFormValidations();
                lionInit();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $("#" + loaderid).html("");
                alert(thrownError);
            }
        });
    });





    $(document).on("click", '#btnMultiSubmit', function (e) {
        $("#bulkActionSubmitLoader").show();

        var str ="";
        $.each($('.chkSelect:checked'),function (index,val) {
            if(str != "")
            {
                str = str + ",";
            }
            str = str + $(val).attr("id");
        });
        var action = $("#BulkAction").val();
        $.ajax({
            url: '@Url.Action(Model.bulkActionName, Model.Pagination.controllerName,null,Request.Url.Scheme)',
            data: { branchCodes: str, action: action },
            type: "POST",
            cache: false,
            async: true,
            success: function (data) {
                location.reload();
                $("#bulkActionSubmitLoader").hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $("#bulkActionSubmitLoader").hide();
            }
        });
    });


    function OnCompleteUpdate(data) {
        
        if (data.errorLogid > 0) {
            window.location = data.errorUrl;
        }
        else {

            $(this).parent().parent().parent().parent().parent().parent().prepend(data.responseJSON.view);
            $(this).parent().parent().parent().parent().parent().remove();
        }
    }
    function OnFailureUpdate(ex) {
        $(this).parent().parent().parent().parent().parent().html("");
        alert("Some Error occured : " + ex);
    }
    function Confirm() {
        window.alert("Are you Sure???");
    }



    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });

    $(document).on("click",".btn",function(){
        SetPreSubmitState($(this));
    });

    function SetPreSubmitState(ths)
    {
        var loader = $(ths).data("loader");
        if(loader != null && loader != undefined && loader != "")
        {
            $(ths).find(("#" + loader )).show();
        }
        loader = $(ths).data("remove-element-id");

        if(loader != null && loader != undefined && loader != "")
        {
            $(ths).parent(("#" + loader )).remove();
        }
        loader = $(ths).data("remove-innerhtml-element-id");
        if(loader != null && loader != undefined && loader != "")
        {
            $(ths).parent(("#" + loader )).html("");
        }
        loader = $(ths).data("hide");
        if(loader != null && loader != undefined && loader != "")
        {
            $("#" + loader ).hide();
        }

    }



    var BranchformID = "#Branchform"

    function activateFormValidations()
    {


        $(BranchformID).validate({
            rules: {
                "branchDCM.branchCode": {
                    required: true,
                    maxlength: 45
                },
                "branchDCM.branchName": {
                    required: true,
                    maxlength: 45
                },
                "branchDCM.branchType": {
                    required: true,
                    maxlength: 45
                },
                "branchDCM.contactNo1": {
                    required: true,
                    maxlength: 10
                },
                "branchDCM.email": {
                    required: true,
                    email: true
                }
            },
            messages: {
                "branchDCM.contactname":
                    {
                        required: "Please enter branch code.",
                        maxlength: "You can enter maximum 45 character."
                    },
                "branchDCM.branchName":
                   {
                       required: "Please enter branch name.",
                       maxlength: "You can enter maximum 45 character."
                   },
                "branchDCM.branchType": {
                    required: "Please enter branch type.",
                    maxlength: "You can enter maximum 45 character."
                },
                "branchDCM.contactNo1": {
                    required: "Only 10 Digit Allowed"
                },

                "branchDCM.email": {
                    required:"Please enter branch email address.",
                    email: "please enter valid email address."
                }
            },
            invalidHandler: function(event, validator) {
                $.each($(BranchformID).find(".btn"),function(index,val){
                    var loader = $(val).data("loader");
                    $("#" + loader ).hide();
                });
            }

        });

    }

    //$(document).on("submit", BranchformID, function (e) {
    //    
    //    activateFormValidations();
    //    //
    //    //$("#branchDCM_remarks").val(tinyMCE.get('branchDCM_remarks').getContent());
    //    //$('[data-toggle="tooltip"]').tooltip();
    //    //$().tooltip(options);
    //    if ($(BranchformID).valid()) {

    //    }
    //    else {
    //        e.preventDefault();
    //    }
    //});

    function OnBranchFormAjaxComplete(data) {
        
        if (data.responseJSON.errorLogid > 0) {
            window.location = data.responseJSON.errorUrl;
        }
        else {
            $(this).parent().parent().parent().css("display","none");
            if(data.responseJSON.crudOprationType == "@Html.Raw(LionPOSServiceContractModels.ConstantDictionaryContractModel.ConstantDictionaryCM.crudOprationTypes.Insert)")
            {
                $(this).parent().parent().parent().parent().parent().parent().prepend(data.responseJSON.view);
                $(this).parent().parent().parent().parent().parent().remove();
            }
            if(data.responseJSON.crudOprationType == "@Html.Raw(LionPOSServiceContractModels.ConstantDictionaryContractModel.ConstantDictionaryCM.crudOprationTypes.Update)")
            {
                $(this).parent().parent().parent().parent().parent().replaceWith(data.responseJSON.view);
            }
            
            location.href = $(this).closest(".card ").find(".card-title a").attr("href");
            
        }
        
    }
    function OnBranchFormAjaxFailure(ex) {
        
        alert("Some Error occured : " + ex);
    }



</script>
