@model  LionPOS.Models.ViewModels.BranchManagement.Branch.branchCrudOperationViewModel


<div class="card-body" id="card-body@(Model.branchDCM.branchCode)">

    <div class="row">
        <div class="col-md-12">

            @using (Ajax.BeginForm(Model.SubmitActionName, Model.controllerName, null, new AjaxOptions() { HttpMethod = "POST", OnComplete = "OnBranchFormAjaxComplete", OnFailure = "OnBranchFormAjaxFailure" }, new { @class = "form -horizontal bucket-form", id = "Branchform" }))
            {
                @Html.HiddenFor(model => Model.branchDCM.branchCodeEntryBranchCode)
                @Html.HiddenFor(model => Model.branchDCM.changeByUserName)
                @Html.HiddenFor(model => Model.branchDCM.entryByUserName)
                @Html.HiddenFor(model => Model.branchDCM.isActive)
                @Html.HiddenFor(model => Model.branchDCM.isDeleted)
                @Html.HiddenFor(model => Model.branchDCM.lastChangeDate)
                @Html.HiddenFor(model => Model.branchDCM.recordByLion)

                @Html.AntiForgeryToken()
                if (Model.crudOprationType == LionPOSServiceContractModels.ConstantDictionaryContractModel.ConstantDictionaryCM.crudOprationTypes.Insert)
                {
                    <div class="row">
                        <div class="col-sm-3"><label>Branch Code</label></div>
                        <div class="col-sm-8 form-group">
                            @Html.TextBoxFor(model => Model.branchDCM.branchCode, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip" })

                        </div>
                    </div>
                }
                else
                {

                    @Html.HiddenFor(model => Model.branchDCM.branchCode)
                    <div class="row">
                        <div class="col-sm-3"><label>Branch Code</label></div>
                        <div class="col-sm-8 form-group">
                            <label>@Model.branchDCM.branchCode</label>
                        </div>
                    </div>


                }
                <div class="row">
                    <div class="col-sm-3"><label>Branch Name</label></div>
                    <div class="col-sm-8 form-group">
                        @Html.TextBoxFor(model => Model.branchDCM.branchName, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label>Branch Type</label></div>
                    <div class="col-sm-8 form-group">
                        @Html.DropDownListFor(model => Model.branchDCM.branchType, Model.BranchTypes, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label>Opening Date</label></div>
                    <div class="col-sm-8 form-group">
                        @Html.TextBoxFor(model => Model.branchDCM.openDate, "{0:yyyy-MM-dd}", new { @class = " form-control", @type = "date", data_placement = "bottom", data_toggle = "tooltip" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3"><label>Closing Date</label></div>
                    <div class="col-sm-8 form-group">
                        @Html.TextBoxFor(model => Model.branchDCM.closeDate, "{0:yyyy-MM-dd}", new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip", @type = "date" })
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-3"><label>Contact #1</label></div>
                    <div class="col-sm-3 form-group">
                        @Html.TextBoxFor(model => Model.branchDCM.contactNo1, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip", @type = "number" })
                    </div>
                    <div class="col-sm-2"><label>Contact Type</label></div>
                    <div class="col-sm-3 form-group">
                        @Html.DropDownListFor(model => Model.branchDCM.contactType1, Model.ContactMobile, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label>Contact #2</label></div>
                    <div class="col-sm-3 form-group">
                        @Html.TextBoxFor(model => Model.branchDCM.contactNo2, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip", @type = "number" })
                    </div>
                    <div class="col-sm-2"><label>Contact Type</label></div>
                    <div class="col-sm-3 form-group">
                        @Html.DropDownListFor(model => Model.branchDCM.contactType2, Model.ContactTypes, LionPOSServiceContractModels.ConstantDictionaryContractModel.ConstantDictionaryCM.DefaultSelection_string, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label>Email</label></div>
                    <div class="col-sm-8 form-group">
                        @Html.TextBoxFor(model => Model.branchDCM.email, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip", @type = "email" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label>Static IP</label></div>
                    <div class="col-sm-8 form-group">
                        @Html.TextBoxFor(model => Model.branchDCM.staticIpAddress, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label>Address</label></div>
                    <div class="col-sm-8 form-group">
                        @Html.TextBoxFor(model => Model.branchDCM.address, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label>City</label></div>
                    <div class="col-sm-8 form-group">
                        @Html.TextBoxFor(model => Model.branchDCM.city, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip" })
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-sm-3">
                            <label>State</label>
                        </div>
                        <div class="col-sm-8 form-group">
                            @Html.TextBoxFor(model => Model.branchDCM.state, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip" })
                        </div>
                    </div>*@
               
               
                <div class="row">
                    <div class="col-md-3">
                        <label>Country</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <div class="inputer ">
                            <div class="input-wrapper">
                                @Html.HiddenFor(model => Model.branchDCM.country)
                                <input type="text" id="autoTextbranchDCM_country" name="autoTextbranchDCM_country" data-targetid="branchDCM_country" data-auto-text-type="autoText+Restore" class="form-control autoText" autocomplete="off" data-placement="left" />
                                <button type="button" class="btn btn-blue autoTextButtonShowAll"><i class="fa fa-chevron-down "></i></button>
                                <div class="autoTextBox">
                                    <ul class="autoTextOptionsWrapper">
                                        @foreach (var i in Model.CountryList)
                                        {
                                            <li class="autoTextOption" data-display-value="@(i.countryName)" data-search="@(((i.countryName) as string).ToLower())" data-value="@i.countryName">@i.countryName</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>State</label>
                    </div>
                    <div class="col-md-8 form-group">
                        <div class="inputer ">
                            <div class="input-wrapper">
                                @Html.HiddenFor(model => Model.branchDCM.state)
                                <input type="text" id="autoTextbranchDCM_state" name="autoTextbranchDCM_state" data-targetid="branchDCM_state" data-auto-text-type="autoText+Restore" class="form-control autoText" autocomplete="off" style="width: 100%" data-hidelisttargetid="branchDCM_country" data-placement="left" />
                                <div class="autoTextBox">
                                    <h4>Matching entries</h4>
                                    <ul class="autoTextOptionsWrapper">
                                        @foreach (var i in Model.stateList)
                                        {
                                            <li class="autoTextOption" data-display-value="@(i.stateName)" data-search="@(((i.countryName) as string))|@(((i.stateName) as string).ToLower())" data-value="@i.stateName"> @(i.stateName)&nbsp; <sup>@(((i.countryName) as string))</sup></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="row">
                        <div class="col-sm-3"><label>Country</label></div>
                        <div class="col-sm-8 form-group">
                            @Html.TextBoxFor(model => Model.branchDCM.country, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip" })
                        </div>
                    </div>*@
                <div class="row">
                    <div class="col-sm-3"><label>Latitude</label></div>
                    <div class="col-sm-3 form-group">
                        @Html.TextBoxFor(model => Model.branchDCM.latitudeLoaction, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip" })
                    </div>
                    <div class="col-sm-2"><label>Logitude</label></div>
                    <div class="col-sm-3 form-group">
                        @Html.TextBoxFor(model => Model.branchDCM.logitudeLocation, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label>Covering Areas</label></div>
                    <div class="col-sm-8 form-group">
                        @Html.TextBoxFor(model => Model.branchDCM.CoveringAreas, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label>Description</label></div>
                    <div class="col-sm-8 form-group">
                        @Html.TextBoxFor(model => Model.branchDCM.description, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label>Deposit</label></div>
                    <div class="col-sm-8 form-group">
                        @Html.TextBoxFor(model => Model.branchDCM.deposit, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip", @type = "number" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3"><label>Experiance</label></div>
                    <div class="col-sm-8 form-group">
                        @Html.TextBoxFor(model => Model.branchDCM.experiance, new { @class = "form-control", data_placement = "bottom", data_toggle = "tooltip", @type = "number" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3"><label>Remarks</label></div>
                    <div class="col-sm-8 form-group">
                        @Html.TextAreaFor(model => Model.branchDCM.remarks, new { @class = "form-control TinyMCE remarks", data_placement = "bottom", data_toggle = "tooltip" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3"></div>

                    @if (Model.crudOprationType == LionPOSServiceContractModels.ConstantDictionaryContractModel.ConstantDictionaryCM.crudOprationTypes.Insert)
                    {
                        <div class="col-sm-8">
                            <div class="col-sm-4">
                                <button type="submit" id="btnsubmit" data-loader="btnCreateLoader" class="btn btn-primary btn-ripple "><i id="ldrFormCreateAction" class="CircleLoader" style="display:none"></i>Create</button>
                            </div>

                            <div class="col-sm-4">
                                <button type="button" data-remove-element-id="@Model.branchDCM.branchCode" class="btn btn-primary btn-ripple btn-CircleLoader ">Cancel</button>
                            </div>
                        </div>
                    }
                    else
                    {



                        <div class="col-sm-8">

                            <div class="col-sm-4">
                                <button type="submit" data-loader="ldrFormUpdateAction" class="btn btn-primary btn-ripple "><i id="ldrFormUpdateAction" class="CircleLoader" style="display:none ; "></i>Update </button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" id="btndelete" data-delete-keys="@(Model.branchDCM.branchCode)" data-delete-url="@Url.Action(Model.DeleteActionName , Model.controllerName,null,Request.Url.Scheme)" data-confirm-loader="ldrFormDeleteAction" data-branchcode="@(Model.branchDCM.branchCode)" data-bodyid="card-body@(Model.branchDCM.branchCode)" class="btn btn-red btn-flat btn-ripple" data-toggle="modal" data-target="#filterConfirmModal"><i id="ldrFormDeleteAction" class="CircleLoader" style="display:none; "></i><i class="ion-android-delete"></i>&nbsp; Delete</button>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" data-remove-innerhtml-element-id="card-body@(Model.branchDCM.branchCode)" data-hide="card-body@(Model.branchDCM.branchCode)" class="btn btn-primary btn-ripple btn-CircleLoader ">Cancel</button>
                                @*<button type="button" data-remove-innerhtml-element-id="@Model.branchDCM.branchCode" class="btn btn-primary btn-ripple btn-CircleLoader ">Cancel</button>*@
                            </div>

                        </div>
                    }
                </div>
            }
            <div id="idshowLoder@(Model.branchDCM.branchCode)" style="height:180px;margin:10px; display:none">
                <div id="loader"></div>
            </div>
        </div>

    </div>




</div>
<script>
