@model  LionPOS.Models.ViewModels.BranchManagement.Branch.branchCrudOperationViewModel
<div class="col-md-12" id="@Model.branchDCM.branchCode">
    <div class="card card-user card-user-purple">

        <div class="card-heading heading-center " style="border-top:none">
            <img src="~/Images/store.png" alt="" class="user-image">
            <h3 class="card-title text-color-white"><a href="#@(Model.branchDCM.branchCode)"  >@Model.branchDCM.branchName</a></h3>
            <div class="subhead">
                <span class="badge actv" style=" background: @((Model.branchDCM.isActive== true)?"Green":"Red");border: 2px solid #fff;border-radius: 100%;padding: 2px 4px;font-size: 12px;color: @((Model.branchDCM.isActive== true)?"Green":"Red")">3</span>
                Branch is <a href="#"> @((Model.branchDCM.isActive == true) ? "Active" : "Inactive") in @Model.branchDCM.CoveringAreas</a>
            </div>
        </div><!--.card-heading-->
       
           @if (Model.LoadFormFields == true)
           {
            <br />
             @Html.Raw(LionUtilities.MVCViewUtilitiesPkg.Helper.GetRazorViewAsString(Model, "~/Views/BranchManagement/Branch/_InputFields.cshtml", Model.ControllerContext));
                
           }
           else
           {
                <!--.card-body-->
            <div class="card-body" id="card-body@(Model.branchDCM.branchCode)" style="display:none">
            </div><!--.card-body-->
           }



        <div class="card-footer" style="padding: 15px;border-top: 1px solid #f0f0f0;">
            <div class="selectAllCheckBoxClass" style="float:left">
                <div class="checkboxer checkboxer-pink form-inline">
                    <input type="checkbox" id="@(Model.branchDCM.branchCode)">
                    <label for="checkboxColor2">
                    </label>
                </div>
            </div>
            <button class="btn btn-xs btn-purple pull-right btn-ripple fa fa-retweet" data-branchcode="@(Model.branchDCM.branchCode)" data-bodyid="card-body@(Model.branchDCM.branchCode)" id="btnShowDetails" style="margin-right:10px"></button>
        </div><!--.card-footer-->

    </div><!--.card-->
</div>
